<!-- (*) assigned classes -->

<ion-view view-title="Idea Feed">
	<ion-nav-buttons side="right">
        <!--<button class="button button-icon icon ion-ios-plus-empty" ng-click="infoApp()"></button>-->
    </ion-nav-buttons>
	<ion-content class="background">

		<div ng-if="removed" class="list card">
			<div class="item" style="z-index:999999;">
				<button ng-click="goFeed();" class="button button-full" style="border: 1px solid #F45D4C;background-color:white;color:#F45D4C">
					<i class="icon ion-arrow-return-right"></i> Idea feed로 돌아가기
				</button>
			</div>
		</div>

		<div ng-if="!removed&&content" class="list card">
			<div class="item  item-icon-right" style="z-index:999999;">
				<h2 style="display: inline-block;">{{content._creator.name}}</h2>

				<div class="social">
					<a sibs class="pull-right btn-hover" style="margin-right:19px;color:#FF6263;">
						<i  style="font-size: 14px;" class="icon ion-chevron-down"></i>
					</a>
					<ul class="card-drop-down-red card-hide" >
						<li ng-if="content.mine"><a ng-click="removeIdea(content._id);"><i class="icon ion-trash-a"></i> Idea 삭제 </a></li>
						<li ng-if="content.mine"><a ng-click="openUpdateIdeaModal(content);"><i class="icon ion-edit"></i> Idea 수정</a></li>
						<li><a href="#"><i class="icon ion-pin"></i> Pin it</a></li>
					</ul>
				</div>

				<p class="icon-p">
					<i class="icon ion-ios-clock-outline"></i>
					{{content.date|date}}
				</p>
			</div>
			<!--<div class="item item-body" ng-style="{'background-image':'url(img/bg/{{content.bg!=''?content.bg:1}}.jpg)'}"-->
			     <!--style=" background-size: cover; background-position: 50% 50%;">-->
				<div class="item item-body" style="background-image: url(img/bg/{{content.bg!=null?content.bg:1}}.jpg); background-size: cover; background-position: 50% 50%;">

				<div class="card-detail-dark">
				</div>
					<p style="position: absolute;
                    right: 11px;
                    top:-5px;">
						<a style="color: #FF6263;font-size:15px;">
							<i class="icon ion-ios-heart"></i>
							{{content.like}}
						</a>
						<a style="color: #FF6263;font-size:15px;">
							<i class="icon ion-ios-chatbubble"></i>
							{{content.comment}}
						</a>
					</p>
				<p style="color: white;" ng-bind-html="content.body | formatText"></p>
				<p style="color: white;" ng-bind-html="content.detail | formatText"></p>
				<span class="tag" style="color:white;" ng-repeat="tag in content.tags">
						{{tag}}
				</span>
			</div>

			<div ng-if="content.images.length>0" ng-repeat="image in content.images" class="item item-image">
				<img ng-src="{{cdn_url+image}}">

			</div>
			<div class="bar bar-header item-input-inset" style="background-color: white;">

				<button class="button button-outline button-light" style="margin-right: 10px;border: 1px solid #F45D4C;background-color:white;color:#F45D4C" ng-click="like()">
					<i ng-if="content.ilike" class="icon ion-ios-heart"></i>
					<i ng-if="!content.ilike" class="icon ion-ios-heart-outline"></i>
				</button>
				<label class="item-input-wrapper white-bg" style="border: 1px solid #F45D4C;">

					<input type="text" placeholder="댓글달기" ng-model="reply.comment" ng-enter="createReply()" class="ng-pristine ng-untouched ng-valid">

				</label>
				<button style="border: 1px solid #F45D4C;color:#F45D4C" class="button button-outline button-light" ng-click="createReply()">
					등록
				</button>
			</div>
			<ion-list >
				<ion-item  class="reply" ng-repeat="reply in replies track by $index">
					<div  ng-click="infoApp(reply)">
						<h2 style="display: inline-block;font-size: 15px;">{{reply._creator.name}} </h2>
						<p class="description" style="font-size:13px;">{{reply.comment}}</p>
					</div>
					<!--<span  ng-if="isThisMyReply(reply._creator._id)" style="font-size: 12px;"><a ng-click="removeReply(reply._id,reply._idea);"><i class="icon ion-trash-a"></i> 댓글삭제</a></span>-->
					<span style="font-size: 12px;"><a ng-click="replyLike(reply._id)" ><i class="icon ion-ios-heart"></i> 좋아요</a> {{reply.like}}</span>
					<span style="font-size: 12px;"><a ng-click="clicked()" recomment><i class="icon ion-chatboxes"></i>  댓글달기</a></span>
					<span style="font-size: 12px;"><i class="icon ion-ios-clock-outline"></i>  {{reply.date|timeAgo}}</span>
					<ion-list>
						<ion-item class="recomment" ng-repeat="comm in reply.recomment track by $index">
							<h2 style="display: inline-block;font-size: 13px;">{{comm.recommenter_name}} </h2>
							<span style="font-size: 11px;"><i class="icon ion-ios-clock-outline"></i>  {{comm.date|timeAgo}}</span>
							<p class="description" style="font-size:13px;"  >{{comm.recomment}}</p>
							<span  ng-if="isThisMyReply(comm.recommenter)" style="font-size: 12px;"><a ng-click="removeRecomment(reply._id,comm._id);"><i class="icon ion-trash-a"></i> 댓글삭제</a></span>

						</ion-item>
					</ion-list>

					<label class="item-input-wrapper white-bg recomment-hide" style="border: 1px solid #F45D4C;height: 22px;">
						<input type="text" placeholder="댓글달기" ng-model="reply.recommentTxt" ng-enter="createRecomment(reply)" class="ng-pristine ng-untouched ng-valid" style="height:20px;">
					</label>
					<!-- *class icon-view / show icon check -->
				</ion-item>
			</ion-list>
			<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%">
			</ion-infinite-scroll>

		</div>

		<script id="update-idea.html" type="text/ng-template">
			<div class="modal">

				<div class="bar bar-header bar-assertive" style="background-color: #ff6263;">
					<div class="buttons buttons-left header-item">
						<span class="left-buttons">
                <button class="button button-icon button-clear ion-ios-close-empty"  ng-click="closeUpdateIdeaModal()" menu-toggle="left"></button>
            </span>
					</div>
					<div class="title title-center header-item" >Create Idea</div>

					<div class="buttons buttons-right">
						<span class="right-buttons">
			        <button class="button button-icon icon ion-ios-checkmark-empty" ng-click="updateIdea()"></button>
			      </span>
					</div>

				</div>
				<ion-content  style="top:35px;" class="center background">
					<div class="list">

						<div class="media-area media-area-small">
							<div class="row">
								<div class="col">
									<div class="textareaContainer">
										<textarea name="text" rows="4" style="width:100%" placeholder="{{somePlaceholder}}" ng-model="idea.body"></textarea>
									</div>
									<div class="textareaContainer">
										<textarea name="text" rows="6" style="width:100%" placeholder="생각을 자세히 적어주세요.(적지 않으셔도 되요)" ng-model="idea.detail"></textarea>
									</div>
									<tags-input ng-model="idea.tags" placeholder="태그를 입력해 주세요"></tags-input>
								</div>

							</div>
							<div class="list">
								<div class="select-bg-img" ng-class="selectedBg(bg)" ng-click="selectBg(bg);" ng-repeat="bg in bgs">
									<img ng-src="img/bg/{{bg}}.jpg">
								</div>
							</div>

							<!--<div ng-show="!device" class="row">-->
							<!--<div class="col">-->
							<!--<input type="file" ngf-select="imagePreview($files)">-->
							<!--</div>-->
							<!--</div>-->
							<!--<div ng-show="device" class="row">-->
							<!--<div class="col">-->
							<!--<button class="button  button-assertive" style="width: 100%;" ng-click="getMultiPhoto()"><i class="ion-images"></i> Album</button>-->

							<!--</div>-->
							<!--<div class="col">-->
							<!--<button class="button button-outline button-assertive" style="width: 100%;" ng-click="takePhoto()"><i class="ion-camera"></i> Camera</button>-->
							<!--</div>-->
							<!--</div>-->
							<!--<div class="row" >-->
							<!--<div class="col" ng-repeat="img in idea.images">-->
							<!--<img ng-src="{{img}}" width="100%"/>-->
							<!--</div>-->

							<!--</div>-->

						</div>
					</div>

				</ion-content>
				<div class="fixed-outside">
					<div class="row">
						<div class="col">
							<button class="button button-circle button-hermana icon ion-checkmark" ng-click="updateIdea()"></button>
						</div>
					</div>
				</div>
			</div>
		</script>
	</ion-content>
	<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-center'}"></toaster-container>
</ion-view>
